.creator {
    p {
        font-family: 'Roboto', sans-serif;
    }
}

.chart-section {
    background-color: #EEEEEE;

    .section-container {
        display: flex;
        flex-direction: row;
    }
}

.chart-section-description {
    flex: 1;
    font-size: 12px;

    p {
        color: rgba(0,0,0,0.54);
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0;
    }
}

.chart-slider {
    flex: 3
}

.data-section {
    background-color: #F9F9F9;
}

.editor-section {
    background-color: #EEEEEE;
}

.section-container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 28px 0;

}

.action-button {
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #0971DD;
    text-transform: uppercase;
    color: white;
    padding: 5px 10px;
}
